<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="scripts/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/angular.min.js"></script>
	<script type="text/javascript" src="scripts/sift.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.js"></script>
	<link rel="stylesheet" href="styles/bootstrap.css" />
	<title>Advanced Network Queue Handling Assignment</title>
</head>
<body ng-app="queueHandler" ng-controller="global">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Advanced Network Queue Handling Assignment </a>
				<a class="navbar-text navbar-right pull-right" href="">Bahadir Can Yildiz</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"> Process Options </h4>
						</div>
						<div class="panel-collapse collapse am-collase in">
							<div class="panel-body">
								<table class="table">
									<thead>
										<tr>
											<th>Lambda</th>
											<th>u1</th>
											<th>u2</th>
											
										</tr>					
									</thead>
									<tbody>
										<tr>
											<td> <input type="number" class="form-control" min="0" ng-model="lambda"/></td>
											<td> <input type="number" class="form-control" min="0" ng-model="u1"/></td>
											<td> <input type="number" class="form-control" min="0" ng-model="u2"/></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"> Actions </h4>
						</div>
						<div class="panel-collapse collapse am-collase in">
							<div class="panel-body">
								<form class="form-horizontal">
									<div class="form-group"><button class="btn btn-default center-block" ng-click="unitTest()"> Start </button></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"> Result Log </h4>
						</div>
						<div class="panel-collapse collapse am-collase in">
							<div class="panel-body">
								<table class="table" ng-show="logs">
									<thead>
										<tr>
											<th>System Clock</th>
											<th>Arrival Time</th>
											<th>Depart Time 1</th>
											<th>Depart Time 2</th>
											<th># in queue 1</th>
											<th># in queue 2</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="log in logs">
											<td>{{log.systemClock}}</td>
											<td>{{log.arrivalTime.toString() === "Infinity" ? "-" : log.arrivalTime}}</td>
											<td>{{log.departTime1.toString() === "Infinity" ? "-" : log.departTime1}}</td>
											<td>{{log.departTime2.toString() === "Infinity" ? "-" : log.departTime2}}</td>
											<td>{{log.queue1}}</td>
											<td>{{log.queue2}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="debugMode">{{processes | json}}</div>
	<br />
	<br />
	<div ng-show="debugMode">{{timeLine | json}}</div>
	<br />
	<br />
	<div ng-show="debugMode">{{queuecount}} = {{queue | json}}</div>
</body>
	<script type="text/javascript" src="scripts/controller.js"></script>
	<script type="text/javascript" src="scripts/core.js"></script>
</html>